@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Karla:wght@400;700&family=League+Spartan:wght@400;500;700;900&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,400;0,500;0,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;1,300&display=swap');
:root{
    --azul:#1A4167;
    --amarillo:#DFC253;
    --redes:#2CF6B3;
    --fundament:#4392F1;
    --dig:#98CE00;
    --anal:#E55934;
    --teor:#BD2D87;
    --elect:#F6AE2D;
    /* --circ:#679436; */
    /* --fis:#ECB0E1; */
    /* --PITE:#C8D5B9; */
}
*{

    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;

}
.backgroundred{
    background-color:var(--redes);
}
.backgroundfun{
    background-color: var(--fundament);
}    
.backgrounddig{
    background-color: var(--dig);
}
.backgroundana{
    background-color: var(--anal);
}
.backgroundteo{
     background-color: var(--teor);
}
.backgroundele{
    background-color: var(--elect);
}
header{
    display: flex;
    margin: 10px;
    color: var(--azul);
}
header img{
    height: 90px;
}
.title{
    margin: auto 30px;
}
.separador1{
    width: 100%;
    height: 5px;
    background-color:var(--amarillo) ;
    margin: 0;
}
.asignaturas__list{
  
    display: grid;
    list-style: none;
    background-color:var(--azul);
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    color: var(--azul);

}
.sticky{
   position: -webkit-sticky;
   position: sticky;
    top: 0;
}
.asignatura{
    display: flex;
    justify-content: center;
    padding: 0px 5px;
    background-color: white;
    border-radius:15px ;
    transition: 0.3s;
}
.asignatura h4{
    margin: auto;
}
.asignatura:hover{
    color: white;
    font-size: 20px;
    cursor: none;
    

}
.fundament:hover{
    background-color: var(--fundament);
}
.dig:hover{
    background-color: var(--dig);
    transition: 0.4s;
}
.anal:hover{
    background-color: var(--anal);
    transition: 0.4s;
}
.teor:hover{
    background-color: var(--teor);
    transition: 0.4s;
}
.elec:hover{
    background-color: var(--elect);
    transition: 0.4s;
}
.redes:hover{
    background-color:var(--redes);
    transition: 0.4s;
}
.relleno{
    height: 115px;
}
.fila{
    display:flex;
    color: var(--azul);
   
    
}
.semana9{
    width: 100%;
    
}
.bast:hover{
    background-color: red;
    color: white;
}
.fila h3{
    margin:2px ;
    width: 100%;
    text-align: center;

}
.localiz {
    background-color: var(--amarillo);
    width: 250px;
}
.foot img{
    height: 50px;

}
.foot{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--azul);

}
.contact{
    display: flex;
}
.foot a{
    margin: auto;
    text-decoration: none;
    color: white;
}
.foot h3{
    margin: auto 30px;
    color: white;
}
.asignatura button{
    border-radius: 30px;
    width: 100%;
    background-color: inherit;
    border: none;
    color:var(--azul);
}
 


